---
import Layout from "@layouts/Layout.astro";
import CardContent from "@components/Card.vue";
import type { Card } from "@types";
let data: Card = {};
const res = await fetch("http://localhost:3000/api/User.json");
if (res.status === 200) {
  data = await res.json();
}
const card: Card = {
  image: "./img/image-equilibrium.jpg",
  title: `Equilibrium #${data.code || ""}`,
  description: "Our Equilibrium collection promotes balance and calm.",
  info: {
    value: data.value || "",
    date: data.date || "",
  },
  user: {
    avatar: data.avatar || "",
    name: data.name || "",
  },
};
---

<Layout title="Frontend Mentor | NFT preview card component">
  <main>
    <CardContent
      class="bg-[#15273F] w-[350px] rounded-2xl p-6 shadow-2xl"
      image={card.image}
      title={card.title}
      description={card.description}
      info={card.info}
      user={card.user}
    />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
